<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <navbar>
            <ul>
                <li><a href="">Problemas detectados</a></li>
                <li><a href="">Propuestas de soluciones y objetivos del PTD</a></li>
                <li><a href="">Temporalización</a></li>
                <li><a href="">Recursos necesarios</a></li>
                <li><a href="">Responsables</a></li>
                <li><a href="">Medidas de seguimiento y evaluación</a></li>
            </ul>
        </navbar>
    </header>
</body>
</html>